In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
df = pd.read_csv('../datasets/PRSA_data_2010.1.1-2014.12.31.csv', sep=',')

In [3]:
df = df.fillna({'pm2.5':0})
df.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    0.0   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    0.0   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    0.0   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    0.0   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    0.0   -20 -12.0  1018.0   NW  12.97   0   0

In [4]:
tmp1 = (df['year'].astype(str)).str.cat(df['month'].astype(str), sep='-').str.cat(df['day'].astype(str), sep='-').str.cat(df['hour'].astype(str), sep='-')
tmp2 = pd.to_datetime(tmp1, format='%Y-%m-%d-%H')

tmp2.head()

0   2010-01-01 00:00:00
1   2010-01-01 01:00:00
2   2010-01-01 02:00:00
3   2010-01-01 03:00:00
4   2010-01-01 04:00:00
Name: year, dtype: datetime64[ns]

In [5]:
tmp = pd.concat([tmp2, df['pm2.5']], axis=1)

tmp.head()

                 year  pm2.5
0 2010-01-01 00:00:00    0.0
1 2010-01-01 01:00:00    0.0
2 2010-01-01 02:00:00    0.0
3 2010-01-01 03:00:00    0.0
4 2010-01-01 04:00:00    0.0

In [6]:
tmp.dtypes

year     datetime64[ns]
pm2.5           float64
dtype: object

In [7]:
# DataFrame→array変換
df_array = np.array(tmp)
# 時系列データを入れる箱
sequences = []
# 正解データを入れる箱
target = []
# 正解データの日付を入れる箱
target_date = []

df_array

array([[Timestamp('2010-01-01 00:00:00'), 0.0],
       [Timestamp('2010-01-01 01:00:00'), 0.0],
       [Timestamp('2010-01-01 02:00:00'), 0.0],
       ...,
       [Timestamp('2014-12-31 21:00:00'), 10.0],
       [Timestamp('2014-12-31 22:00:00'), 8.0],
       [Timestamp('2014-12-31 23:00:00'), 12.0]], dtype=object)

In [8]:
length_per_unit = 7
dimension = len(tmp['year'])

for i in range(0, df_array.shape[0] - length_per_unit):
    sequences.append(df_array[i:i + length_per_unit])
    target.append(df_array[i + length_per_unit])
    target_date.append(tmp[i + length_per_unit: i + length_per_unit + 1].index.strftime('%Y/%m/%d %H/%M/%S'))

# 時系列データを成形
X = np.array(sequences).reshape(len(sequences), length_per_unit, dimension)
# 正解データを成形
Y = np.array(target).reshape(len(sequences), 1)
# 正解データの日付データを成形
Y_date = np.array(target_date).reshape(len(sequences), 1)

AttributeError: 'RangeIndex' object has no attribute 'strftime'